# See http://help.github.com/ignore-files/ for more about ignoring files.
blog-server/node_modules/
# compiled output
/dist
/dist-server
/tmp
/out-tsc

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings

# e2e
/e2e/*.js
/e2e/*.map

# System Files
.DS_Store
Thumbs.db
blog-server/bin/www 2
blog-server/bin/www 3
blog-server/package 2.json
blog-server/package-lock 2.json
blog-server/public/stylesheets/style 2.css
blog-server/public/stylesheets/style 3.css
blog-server/routes/blog 2.js
blog-server/routes/blog 3.js
blog-server/routes/index 2.js
blog-server/routes/index 3.js
src/app/app.module 3.ts
src/app/array.sort.pipe 2.ts
src/app/array.sort.pipe 3.ts
src/app/blog.service 2.ts
src/app/blog.service 3.ts
src/app/blog.service.spec 2.ts
src/app/blog.service.spec 3.ts
src/app/edit/edit.component 2.css
src/app/edit/edit.component 2.html
src/app/edit/edit.component 2.ts
src/app/edit/edit.component.spec 2.ts
src/app/list/list.component 2.css
src/app/list/list.component 2.html
src/app/list/list.component 2.ts
src/app/list/list.component.spec 2.ts
src/app/preview/preview.component 2.css
src/app/preview/preview.component 2.html
src/app/preview/preview.component 2.ts
src/app/preview/preview.component.spec 2.ts
src/assets/.gitkeep 2
src/environments/environment 2.ts
src/environments/environment 3.ts
src/environments/environment.prod 2.ts
src/environments/environment.prod 3.ts
src/favicon 2.ico
src/index 2.html
src/index 3.html
src/main 2.ts
src/main 3.ts
src/polyfills 2.ts
src/polyfills 3.ts
src/styles 2.css
src/styles 3.css
src/test 2.ts
src/test 3.ts
src/tsconfig.app 2.json
src/tsconfig.app 3.json
src/tsconfig.spec 2.json
src/tsconfig.spec 3.json
src/typings.d 2.ts
src/typings.d 3.ts
tsconfig 2.json
tslint 2.json
