
<!-- <div *ngIf="new_post"> -->
  <button (click)="newPost()">New Post</button>
<!-- </div> -->

<div>
  <ul class="list">
    <li *ngFor="let post of posts">
      <span>{{post.created | date:'medium' }}</span>
      <button (click)="onClickPost(post.postid)">
        <span class="badge">{{post.postid}}</span> {{post.title}}
      </button>
    </li>
  </ul>
</div>





  <!-- export class Post {
    postid: number;
    created: Date;
    modified: Date;
    title: string;
    body: string;
  } -->