.list{
    padding: 30px;
}

.listtag{
    list-style: none;
}

/* a:hover{
    color: blue;
} */

a{
    font-weight: 700;
}

ul {
    padding-left: 0;
}

li{
    padding: 8px;
    border: 1px solid rgb(204, 204, 204);
    margin-bottom: 6px;
    border-radius: 5px;
}

/* li:hover{
    cursor: pointer;
    color: blue;
} */

.list li.selected:hover {
    background-color: #BBD8DC !important;
    color: darkred;
  }
 li:hover {
    color: #607D8B;
    background-color: #DDD;
    /* left: .2em; */
    cursor: pointer;
  }
  .selected {
    background-color: #CFD8DC !important;
    color: darkred;
  }

.createdTime{
    background-color: rgb(255, 239, 241);
    font-size: 20px;
    padding: 5px;
    border-radius: 5px;
}

button{
	background-color: #fff;
    margin: auto;
    color: #000;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(228, 228, 228, 0.16), 0 2px 4px rgba(230, 230, 230, 0.23);
    font-size: 20px;
    padding: 5px;
    background: none;
    cursor: pointer;
}

button:hover {
    background-color: rgb(231, 231, 231);
}