<p>Edit Component</p>

<p>Fetched Post ID: {{ post.postid }}</p>
<p>Fetched Title: {{ post.title }}</p>
<p>Fetched Body: {{ post.body }}</p>

<label>Title: </label>
<input 
  type="text" 
  class="form-control" 
  [(ngModel)]="post.title"
  value="{{post.title}}"
>
<br/>
<br/>

<label>Body: </label>
<textarea
  type="text" 
  class="form-control" 
  [(ngModel)]="post.body"
  value="{{post.body}}"> 

</textarea>

<button (click)="onSave()">Save</button>
<p *ngIf="savedPost">Post was saved.</p>

<button (click)="onPreview()">Preview</button>

<button (click)="onDelete()">Delete</button>


