.edit{
    padding: 30px;
    width: 400px;
}

:host {
   display:flex;
   justify-content: space-around;
  }

.title, .body{
      font-size: 28px;
      font-weight: 700;
  }

button{
	background-color: #fff;
    margin: auto;
    color: #000;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(228, 228, 228, 0.16), 0 2px 4px rgba(230, 230, 230, 0.23);
    font-size: 20px;
    padding: 5px;
    background: none;
    cursor: pointer;
}

button:hover {
    background-color: rgb(231, 231, 231);
}

button:disabled{
    background-color: rgb(214, 214, 214);
    cursor: default !important;
}


input{
    display: inline-block;
    font-size: 14px;
    width:240px;
    margin: 10px auto;
    padding: 10px 8px 10px 8px;
    border-radius: 5px;
    box-shadow: inset 0 1px 2px rgba(214, 214, 214, 0.55), 0px 1px 1px rgba(255,255,255,.5);
    border: 1px solid rgb(204, 204, 204);
  }

textarea{
    display: block;
    font-size: 14px;
    width:320px;
    min-height: 400px;
    resize: none;
    margin-top: 10px;
    padding: 10px 8px 10px 8px;
    border-radius: 5px;
    box-shadow: inset 0 1px 2px rgba(214, 214, 214, 0.55), 0px 1px 1px rgba(255,255,255,.5);
    border: 1px solid rgb(204, 204, 204);
}

.modifiedTime{
    font-size: 18px;
}

@media screen and (max-width: 767px) {
    :host {
        flex-direction: column;
       }
}