<div app-list [post]="post"></div>

<div class="edit">

  <div>
    <label class="title">Title: </label>
    <input 
      type="text" 
      class="form-control" 
      [(ngModel)]="post.title"
      value="{{post.title}}"
      (ngModelChange)="allowSave()">
  </div>
  
  <div>
    <label class="body">Body: </label>
    <textarea
      type="text" 
      class="form-control" 
      [(ngModel)]="post.body"
      value="{{post.body}}"
      (ngModelChange)="allowSave()"> 
    
    </textarea>
  </div>
  <p class="modifiedTime">{{post.modified | date:'medium'}}</p>
  
  <button (click)="onSave()"
    [disabled]="disableSave">Save</button>
  
  <button (click)="onLoadPreview()">Preview</button>
  
  <button (click)="onDelete()">Delete</button>

</div>




