<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1> <%= title %></h1>
    <div>

      <form method="get" action="/login">
        <p>Username:</p>
        <p>Inputted username: <%= uname %></p>
        <input type="text" name="username" placeholder="Please enter username">
        <p>Password:</p>
        <input type="text" name="password" placeholder="Please enter password">
        <input type="submit" value="Submit">
    </form>

    </div>




  </body>
</html>
