<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1> Login</h1>
    <p>Welcome to <%= title %></p>

    <div>
      <p>Username:</p>
      <input type="text" name="username" id="username" placeholder="Please enter username" required />
      <p>Password:</p>
      <input type="password" name="password" id="password" class="textbox2" placeholder="Please enter password">
      
      <button type="submit">Login</button>
    </div>




  </body>
</html>
